<!-- Menu Toggle Button -->
<a href='#' class='dropdown-toggle' data-toggle='dropdown'>
    <!-- The user image in the navbar-->
    <img src='<%=cus_img%>-128x128.jpg' class='user-image' alt='User Image'>
    <!-- hidden-xs hides the username on small devices so only the image appears. -->
    <span class='hidden-xs'><%=cus_name%></span>
</a>
<ul class='dropdown-menu'>
    <!-- The user image in the menu -->
    <li class='user-header'>
        <img src='<%=cus_img%>-160x160.jpg' class='img-circle' alt='User Image'>
        <p>
            <%=cus_name%>
            <small><%=cus_address%></small>
        </p>
    </li>
    <!-- Menu Body -->
    <li class='user-body'>
        <div class='row'>
            <div class='col-xs-6 text-center'>
                <a href='#'>My Orders</a>
            </div>
            <div class='col-xs-6 text-center'>
                <a href='#'>My Favorites</a>
            </div>
        </div>
        <!-- /.row -->
    </li>
    <!-- Menu Footer-->
    <li class='user-footer'>
        <div id="user-profile-button" class='pull-left'>
            <a href='#user/<%=cus_id%>' class='btn btn-default btn-flat'>Profile</a>
        </div>
        <div id='logout-button' class='pull-right'>
            <a href='' class='btn btn-default btn-flat'>Sign out</a>
        </div>
    </li>
</ul>
